openapi: "3.0.0"
info:
  version: 1.0.0
  title: Fibaro-Gatway Light
  description: Swagger-File for the Fibaro-GW Light
  contact:
    name: Philip Schell
    email: philip.schell@fit.fraunhofer.de
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: http://gateway.linksmart.eu:8090/api
paths:
  /panels/energy:
    get:
      parameters: 
        - name: type
          in: query
          required: true
          schema:
            type: string
          examples:
            rooms:
              value: rooms
            devices:
              value: devices
        - name: id
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Get energy
      tags:
        - consumption
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 7
                  powerH: 0.07
                  powerD: 0.87
                  powerW: 5.29
                  powerM: 14.09
                  costH: 0
                  costD: 0
                  costW: 0
                  costM: 0
  
  /panels/temperature:
    get:
      parameters: 
        - name: type
          in: query
          required: true
          schema:
            type: string
          examples:
            rooms:
              value: rooms
            devices:
              value: devices
        - name: method
          in: query
          required: true
          schema:
            type: string
          examples: 
            single:
              value: single
            compare:
              value: compare
        - name: id
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Get temperature
      tags:
        - consumption
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 16
                  temperatureH: 21.3
                  temperatureD: 18.85
                  temperatureW: 20.01
                  temperatureM: 20.48
  
  /energy/{from}/{to}/{dataset}/{type}/{unit}/{deviceid}:
    get:
      parameters:
        - name: from
          in: path
          description: Can be unix timestamp or now-seconds = "now-15"
          required: true
          schema:
              anyOf:
                - type: string
                - type: integer
          example: now-15
        - name: to
          in: path
          description: Can be unix timestamp or now-seconds = "now-15"
          required: true
          schema:
              anyOf:
                - type: string
                - type: integer
          example: now
        - name: dataset
          in: path
          description: Type of set data
          required: true
          schema:
            type: string
          examples:
            summary:
              value: summary-graph
            compare:
              value: compare
        - name: type
          in: path
          description: Type of monitored section
          required: true
          schema:
            type: string
          examples:
            rooms:
              value: rooms
            devices:
              value: devices
        - name: unit
          in: path
          description: Unit what we wanna get
          required: true
          schema:
            type: string
          examples:
            money:
              value: money
            power:
              value: power
        - name: deviceid
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Get energy from/to
      tags:
        - consumption
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - - 1599742993000
                  - 245.5
                - - 1599743003000
                  - 133.9
                - - 1599743008000
                  - 133.9
  
  /temperature/{from}/{to}/{dataset}/{type}/temperature/{deviceid}:
    get:
      parameters:
        - name: from
          in: path
          description: Can be unix timestamp or now-seconds = "now-15"
          required: true
          schema:
              anyOf:
                - type: string
                - type: integer
          example: now-15
        - name: to
          in: path
          description: Can be unix timestamp or now-seconds = "now-15"
          required: true
          schema:
              anyOf:
                - type: string
                - type: integer
          example: now
        - name: dataset
          in: path
          description: Type of set data
          required: true
          schema:
            type: string
          examples:
            summary:
              value: summary-graph
            compare:
              value: compare
        - name: type
          in: path
          description: Type of monitored section
          required: true
          schema:
            type: string
          examples:
            rooms:
              value: rooms
            devices:
              value: devices
        - name: deviceid
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Get temperature from/to
      tags:
        - consumption
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - - 1600097238000
                  - 30.5
                - - 1600110016000
                  - 24.1
                - - 1600130618000
                  - 19.9
                - - 1600151135000
                  - 17.3
                - - 1600157238000
                  - 17.3
  
  
  
  /settings/info:
    get:
      description: Get current settings
      tags:
        - settings
      responses:
        '200':
          description: ok
          content:
            application/json:
              example: 
                serialNumber: HCL-076130
                hcName: Fib-Philip
                mac: 'ac:17:02:03:65:2d'
                zwaveVersion: '4.33'
                timeFormat: 24
                zwaveRegion: EU
                serverStatus: 1598718825
                defaultLanguage: de
                sunsetHour: '19:55'
                sunriseHour: '06:59'
                hotelMode: false
                temperatureUnit: C
                batteryLowNotification: false
                smsManagement: false
                forwardNotificationsToPushMessages: true
                date: '12:50 | 10.9.2020'
                softVersion: '4.600'
                beta: false
                currentVersion:
                  version: '4.600'
                  type: stable
                installVersion:
                  version: ''
                  type: ''
                  status: ''
                  progress: 0
                timestamp: 1599735047
                online: true
                tosAccepted: true
                updateStableAvailable: false
                updateBetaAvailable: false
                newestStableVersion: '4.600'
                newestBetaVersion: '4.582'
    put:
      description: Modify current settings
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  /service/backups:
    get:
      description: Get current backup settings
      tags:
        - settings
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - totalSpace: 500.0M
                  usedSpace: 0.0B
                  usedSpacePercentage: 0%
                  type: remote
                  status: online
                  backups: []
                - type: remoteOld
                  backups: []
  
  /settings/location:
    get:
      description: Get current location
      tags:
        - settings
      responses:
        '200':
          description: ok
          content:
            application/json:
              example: 
                houseNumber: 3
                timezone: Europe/Warsaw
                timezoneOffset: 7200
                ntp: true
                ntpServer: pool.ntp.org
                date:
                  day: 10
                  month: 9
                  year: 2020
                time:
                  hour: 13
                  minute: 1
                latitude: 50.7493303755436
                longitude: 7.20393838780908
                city: Poznan
                temperatureUnit: C
                windUnit: km/h
                timeFormat: 24
                dateFormat: dd.mm.yy
                decimalMark: .
    put:
      description: Modify current location
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  /settings/network:
    get:
      description: Get current network settings
      tags:
        - settings
      responses:
        '200':
          description: ok
          content:
            application/json:
              example: 
                dhcp: true
                ip: 192.168.1.220
                mask: 255.255.255.0
                gateway: 192.168.1.1
                dns: 192.168.1.1
                remoteAccess: true
                remoteAccessSupport: 0
    put:
      description: Modify current network settings
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  /settings/network/enableRemoteAccessSupport:
    post:
      description: Enable remote access support timeout
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  /settings/network/disableRemoteAccessSupport:
    post:
      description: Disable remote access support timeout
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  /settings/recovery:
    get:
      description: Get recovery state
      tags:
        - settings
      responses:
        '200':
          description: ok
    post:
      description: Verify recovery checksum
      tags:
        - settings
      responses:
        '200':
          description: ok
  
  
  
  /loginStatus:
    get:
      description: Get login status, return status = false if no user is logged in
      tags:
        - loginStatus
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                status: true
                userID: 2
                username: philip.schell@fit.fraunhofer.de
                type: superuser
                analyticsUserIdHash: 798adf6ec68de5e939f236fa3f303688
  
  
  
  /refreshStates:
    get:
      parameters:
        - name: last
          description: number of the last getted item
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 10000
      description: Refresh sates
      tags:
        - refreshStates
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                status: IDLE
                last: 383463
                date: '14:50 | 10.9.2020'
                timestamp: 1599742224
                logs:
                  - '[09:50:44] 4: Requesting neighbor list from the node is in progress'
                  - '[09:51:05] 4: Getting new neighbor list failed'
                  - '[09:51:36] 6: Requesting neighbor list from the node is in progress'
                  - '[09:51:36] 6: New neighbor list received'
                  - '[13:33:58] 8: Requesting neighbor list from the node is in progress'
                  - '[13:34:00] 8: New neighbor list received'
                  - '[14:17:47] 13: Requesting neighbor list from the node is in progress'
                  - '[14:17:48] 13: New neighbor list received'
                  - '[14:30:15] 22: Requesting neighbor list from the node is in progress'
                  - '[14:30:17] 22: New neighbor list received'
                  - '[09:04:37] 6: Requesting neighbor list from the node is in progress'
                  - '[09:04:38] 6: New neighbor list received'
                  - '[09:05:26] 6: Requesting neighbor list from the node is in progress'
                  - '[09:05:27] 6: New neighbor list received'
                  - '[13:30:52] ID 4: Received association report from group 1'
                  - '[13:30:52] ID 4: Received association report from group 2'
                  - '[13:30:53] ID 4: Received association report from group 3'
                  - '[13:31:43] ID 6: Received association report from group 1'
                  - '[13:31:44] ID 6: Received association report from group 2'
                  - '[13:31:44] ID 6: Received association report from group 3'
                  - '[13:34:51] ID 18: Received association report from group 1'
                  - '[13:34:51] ID 18: Received association report from group 2'
                  - '[13:34:52] ID 18: Received association report from group 3'
                  - '[13:36:09] ID 6: Received association report from group 1'
                  - '[13:36:09] ID 6: Received association report from group 2'
                  - '[13:36:09] ID 6: Received association report from group 3'
                  - '[13:36:45] ID 4: Received association report from group 1'
                  - '[13:36:45] ID 4: Received association report from group 2'
                  - '[13:36:45] ID 4: Received association report from group 3'
                  - '[14:51:16] ID 22: Received association report from group 1'
                  - '[14:51:17] ID 22: Received association report from group 2'
                  - '[14:51:18] ID 22: Received association report from group 3'
                  - '[14:51:19] ID 22: Received association report from group 4'
                  - '[14:51:20] ID 22: Received association report from group 5'
                  - '[14:51:21] ID 22: Received association report from group 6'
                  - '[14:51:22] ID 22: Received association report from group 7'
                  - '[15:26:02] ID 8: Received association report from group 1'
                  - '[15:26:02] ID 8: Received association report from group 2'
                  - '[15:26:02] ID 8: Received association report from group 3'
                  - '[17:54:03] ID 13: Received association report from group 1'
                  - '[17:54:04] ID 13: Received association report from group 2'
                  - '[17:54:05] ID 13: Received association report from group 3'
                  - '[21:15:22] ID 18: Application rejected request'
                events:
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 151.1
                      newValue: 110.6
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 110.6
                      newValue: 153.4
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 153.4
                      newValue: 114.4
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 114.4
                      newValue: 137.5
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 137.5
                      newValue: 235.1
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: icon
                      oldValue:
                        path: fibaro/icons/com.fibaro.FGWP_EU/plug8.png
                        source: HC
                      newValue:
                        path: fibaro/icons/com.fibaro.FGWP_EU/plug3.png
                        source: HC
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: color
                      oldValue: blue
                      newValue: green
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: power
                      oldValue: 235.1
                      newValue: 130.1
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: icon
                      oldValue:
                        path: fibaro/icons/com.fibaro.FGWP_EU/plug3.png
                        source: HC
                      newValue:
                        path: fibaro/icons/com.fibaro.FGWP_EU/plug8.png
                        source: HC
                  - type: DevicePropertyUpdatedEvent
                    data:
                      id: 7
                      property: color
                      oldValue: green
                      newValue: blue
                changes:
                  - id: 1
                    pollingDeadDevice: 'true'
                    sunriseHour: '06:59'
                    sunsetHour: '19:55'
                  - id: 3
                    ConditionCode: '32'
                    ConditionCodeConverted: '32'
                    Humidity: '46.70'
                    Pressure: '1022.40'
                    Temperature: '19.70'
                    WeatherCondition: clear
                    Wind: '5.04'
                    ui.Current_Weather_Label.caption: |-
                      Temp.: 19.7°C
                
                      Humidity: 46.7%
                
                      Wind: 5km/h
                  - id: 4
                    dead: 'false'
                    deadReason: ''
                    lastWorkingRouteResponseTimestamp: '1598773844'
                    log: ''
                    logTemp: ''
                    neighborListRequestStatus: error
                    parameters: '[{"id":1,"size":1},{"id":16,"size":1},{"id":34,"size":1},{"id":35,"size":1},{"id":39,"size":2},{"id":40,"size":1},{"id":42,"size":1},{"id":43,"size":1},{"id":45,"size":1},{"id":47,"size":2},{"id":49,"size":1},{"id":50,"size":2},{"id":51,"size":2},{"id":52,"size":1},{"id":60,"size":2},{"id":61,"size":1},{"id":62,"size":1},{"id":63,"size":1},{"id":70,"size":2}]'
                  - id: 5
                    dead: 'false'
                    deadReason: ''
                    energy: '5.85'
                    log: ''
                    logTemp: ''
                    power: '0.00'
                  - id: 6
                    dead: 'false'
                    deadReason: ''
                    lastWorkingRouteResponseTimestamp: '1598943927'
                    log: ''
                    logTemp: ''
                    neighborList: '[1,13,22]'
                    neighborListRequestStatus: ok
                    neighborListRequestTimestamp: '1598943926'
                    neighborListResponseTimestamp: '1598943927'
                    parameters: '[{"id":1,"size":1},{"id":16,"size":1},{"id":34,"size":1},{"id":35,"size":1},{"id":39,"size":2},{"id":40,"size":1},{"id":42,"size":1},{"id":43,"size":1},{"id":45,"size":1},{"id":47,"size":2},{"id":49,"size":1},{"id":50,"size":2},{"id":51,"size":2},{"id":52,"size":1},{"id":60,"size":2},{"id":61,"size":1},{"id":62,"size":1},{"id":63,"size":1},{"id":70,"size":2}]'
                  - id: 7
                    color: blue
                    dead: 'false'
                    deadReason: ''
                    energy: '17.74'
                    icon: '{"path":"fibaro/icons/com.fibaro.FGWP_EU/plug8.png","source":"HC"}'
                    log: ''
                    logTemp: ''
                    power: '130.10'
                  - id: 8
                    lastWorkingRouteResponseTimestamp: '1598787241'
                    log: ''
                    logTemp: ''
                    neighborList: '[4]'
                    neighborListRequestStatus: ok
                    neighborListResponseTimestamp: '1598787241'
                    parameters: '[{"id":1,"size":1,"value":10},{"id":2,"size":1,"value":2},{"id":3,"size":1,"value":1},{"id":4,"size":1,"value":2},{"id":6,"size":2,"value":5},{"id":8,"size":1,"value":0},{"id":9,"size":2,"value":200},{"id":12,"size":1,"value":0},{"id":14,"size":1,"value":255},{"id":16,"size":1,"value":0},{"id":20,"size":1,"value":15},{"id":22,"size":2,"value":30},{"id":24,"size":1,"value":0},{"id":26,"size":1,"value":0},{"id":40,"size":2,"value":200},{"id":42,"size":2,"value":0},{"id":60,"size":1,"value":10},{"id":62,"size":2,"value":900},{"id":64,"size":2,"value":0},{"id":66,"size":2,"value":0},{"id":80,"size":1,"value":10},{"id":81,"size":1,"value":50},{"id":82,"size":2,"value":100},{"id":83,"size":2,"value":1000},{"id":86,"size":1,"value":18},{"id":87,"size":1,"value":28},{"id":89,"size":1,"value":1}]'
                  - id: 9
                    lastBreached: '1599737704'
                    log: ''
                    logTemp: ''
                    tamper: 'false'
                    value: 'false'
                  - id: 10
                    log: ''
                    logTemp: ''
                    value: '22.60'
                  - id: 11
                    log: ''
                    logTemp: ''
                  - id: 12
                    log: ''
                    logTemp: ''
                    parameters: '[{"id":1,"size":1},{"id":2,"size":1},{"id":3,"size":1},{"id":4,"size":1},{"id":6,"size":2},{"id":8,"size":1},{"id":9,"size":2},{"id":12,"size":1},{"id":14,"size":1},{"id":16,"size":1},{"id":20,"size":1},{"id":22,"size":2},{"id":24,"size":1},{"id":26,"size":1},{"id":40,"size":2},{"id":42,"size":2},{"id":60,"size":1},{"id":62,"size":2},{"id":64,"size":2},{"id":66,"size":2},{"id":80,"size":1},{"id":81,"size":1},{"id":82,"size":2},{"id":83,"size":2},{"id":86,"size":1},{"id":87,"size":1},{"id":89,"size":1}]'
                    value: '0.00'
                  - id: 13
                    batteryLevel: '85'
                    lastWorkingRouteResponseTimestamp: '1598789868'
                    log: ''
                    logTemp: ''
                    neighborList: '[1,4,6,18]'
                    neighborListRequestStatus: ok
                    neighborListResponseTimestamp: '1598789868'
                    parameters: '[{"id":1,"size":1,"value":0},{"id":2,"size":1,"value":7},{"id":3,"size":1,"value":3},{"id":11,"size":1,"value":0},{"id":12,"size":2,"value":255},{"id":13,"size":2,"value":0},{"id":14,"size":2,"value":0},{"id":15,"size":2,"value":0},{"id":30,"size":2,"value":5},{"id":31,"size":1,"value":1},{"id":50,"size":2,"value":300},{"id":51,"size":2,"value":10},{"id":52,"size":2,"value":0},{"id":53,"size":2,"value":0},{"id":54,"size":1,"value":3},{"id":55,"size":2,"value":350},{"id":56,"size":2,"value":100}]'
                  - id: 15
                    batteryLevel: '85'
                    lastBreached: '1599573946'
                    log: ''
                    logTemp: ''
                    value: 'true'
                  - id: 16
                    batteryLevel: '85'
                    log: ''
                    logTemp: ''
                    value: '21.30'
                  - id: 17
                    batteryLevel: '85'
                    log: ''
                    logTemp: ''
                  - id: 18
                    dead: 'true'
                    deadReason: power
                    log: ''
                    logTemp: ''
                    neighborListRequestStatus: error
                    parameters: '[{"id":1,"size":1,"value":0},{"id":16,"size":1,"value":1},{"id":34,"size":1,"value":63},{"id":35,"size":1,"value":0},{"id":39,"size":2,"value":600},{"id":40,"size":1,"value":80},{"id":42,"size":1,"value":15},{"id":43,"size":1,"value":30},{"id":45,"size":1,"value":10},{"id":47,"size":2,"value":3600},{"id":49,"size":1,"value":0},{"id":50,"size":2,"value":300},{"id":51,"size":2,"value":500},{"id":52,"size":1,"value":6},{"id":60,"size":2,"value":25000},{"id":61,"size":1,"value":1},{"id":62,"size":1,"value":8},{"id":63,"size":1,"value":1},{"id":70,"size":2,"value":65535}]'
                  - id: 19
                    color: white
                    dead: 'true'
                    deadReason: unplugged
                    energy: '2.10'
                    firmwareUpdate: '{"info":"","progress":0,"status":"UpToDate","updateVersion":"25.25"}'
                    icon: '{"path":"fibaro/icons/com.fibaro.FGWP_EU/plug1.png","source":"HC"}'
                    log: ''
                    logTemp: ''
                    power: '0.00'
                  - id: 22
                    batteryLevel: '90'
                    lastWorkingRouteResponseTimestamp: '1598790617'
                    log: ''
                    logTemp: ''
                    neighborListRequestStatus: ok
                    neighborListResponseTimestamp: '1598790617'
                    parameters: '[{"id":2,"size":1},{"id":3,"size":1,"value":0},{"id":4,"size":1,"value":0},{"id":7,"size":1,"value":63},{"id":10,"size":1,"value":3},{"id":11,"size":2,"value":255},{"id":12,"size":2,"value":0},{"id":13,"size":1,"value":3},{"id":14,"size":2,"value":40},{"id":15,"size":2,"value":0},{"id":16,"size":2,"value":255},{"id":17,"size":2,"value":25},{"id":19,"size":2,"value":0},{"id":20,"size":2,"value":0},{"id":21,"size":1,"value":2},{"id":22,"size":1,"value":55},{"id":23,"size":1,"value":1},{"id":25,"size":1,"value":2},{"id":26,"size":2,"value":30}]'
                  - id: 23
                    batteryLevel: '90'
                    log: ''
                    logTemp: ''
                  - id: 24
                    batteryLevel: '90'
                    log: ''
                    logTemp: ''
                    value: '22.40'
                  - id: 25
                    batteryLevel: '90'
                    log: ''
                    logTemp: ''
                alarmChanges: []
  
  
  
  /devices:
    get:
      description: Get list of available devices
      tags:
        - devices
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - actions: ACTIONS
                  baseType: ''
                  configXml: bool
                  created: 0
                  enabled: bool
                  id: 0
                  interfaces: aray
                  modified: 0
                  name: ''
                  parentId: 0
                  properties: PROPERTIES
                  remoteGatewayId: 0
                  roomID: 0
                  sortOrder: 0
                  type: ''
                  viewXml: bool
                  visible: bool
    post:
      description: Create device | Call action
      tags:
        - devices
      responses:
        '200':
          description: ok
  
  /devices/{deviceID}:
    get:
      parameters:
        - name: deviceID
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Get device object
      tags:
        - devices
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - actions: ACTIONS
                  baseType: ''
                  configXml: bool
                  created: 0
                  enabled: bool
                  id: 0
                  interfaces: aray
                  modified: 0
                  name: ''
                  parentId: 0
                  properties: PROPERTIES
                  remoteGatewayId: 0
                  roomID: 0
                  sortOrder: 0
                  type: ''
                  viewXml: bool
                  visible: bool
    put:
      parameters:
        - name: deviceID
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Modify device
      tags:
        - devices
      responses:
        '200':
          description: ok
    delete:
      parameters:
        - name: deviceID
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: Delete device
      tags:
        - devices
      responses:
        '200':
          description: ok
  
  /devices/{deviceID}/action/{actionName}:
    post:
      parameters:
        - name: deviceID
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: actionName
          in: path
          description: Name of an action
          required: true
          schema:
            type: string
      description: Call action
      tags:
        - devices
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /devices/groupAction/{actionName}:
    post:
      parameters:
        - name: actionName
          in: path
          description: Name of an action
          required: true
          schema:
            type: string
      description: Call group action
      tags:
        - devices
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  
  
  /sections:
    get:
      description: Get list of all available sections
      tags:
        - sections
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 219
                  name: Basement
                  sortOrder: 1
                - id: 220
                  name: Upper floor
                  sortOrder: 2
    post:
      description: Create section
      tags:
        - sections
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
  
  /sections/{sectionID}:
    get:
      description: Get section object
      parameters:
        - name: sectionID
          in: path
          description: ID of an existing section
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - sections
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               id: 0
               name: ''
               created: 0
               modified: 0
               sortOrder: 0
    put:
      description: Modify section
      parameters:
        - name: sectionID
          in: path
          description: ID of an existing section
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - sections
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
    delete:
      description: Delete section
      parameters:
        - name: sectionID
          in: path
          description: ID of an existing section
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - sections
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
  
  
  
  /rooms:
    get:
      description: Get a list of all available rooms
      tags:
        - rooms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  sectionID: 0
                  icon: ''
                  defaultSensors: 0
                  defaultThermostat: DefaulSensors
                  created: 0
                  modified: 0
                  sortOrder: 0
    post:
      description: Get a list of all available rooms
      tags:
        - rooms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /rooms/{roomID}:
    get:
      description: Delete room
      parameters:
        - name: roomID
          in: path
          description: ID of an existing room
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - rooms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               id: 0
               name: ''
               sectionID: 0
               icon: ''
               defaultSensors: 0
               defaultThermostat: DefaulSensors
               created: 0
               modified: 0
               sortOrder: 0
    put:
      description: Delete room
      parameters:
        - name: roomID
          in: path
          description: ID of an existing room
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - rooms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
    delete:
      description: Delete room
      parameters:
        - name: roomID
          in: path
          description: ID of an existing room
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - rooms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
  
  
  
  /users:
    get:
      description: Get a list of all available users
      tags:
        - users
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  type: ''
                  email: ''
                  hasGPS: bool
                  deviceRights:
                    - null
                  sceneRights:
                    - null
                  hotelRoom: 0
                  sendNotifications: bool
                  tracking: 0
                  useOptionalArmPin: bool
                  initialWizard: bool
  
  /users/{userID}:
    get:
      description: Get user object
      parameters:
        - name: userID
          in: path
          description: ID of a existing user
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - users
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                type: ''
                email: ''
                hasGPS: bool
                deviceRights:
                  - null
                sceneRights:
                  - null
                hotelRoom: 0
                sendNotifications: bool
                tracking: 0
                useOptionalArmPin: bool
                initialWizard: bool
    put:
      description: Modify user
      parameters:
        - name: userID
          in: path
          description: ID of a existing user
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - users
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
    delete:
      description: Delete user
      parameters:
        - name: userID
          in: path
          description: ID of a existing user
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - users
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
  
  
  
  /globalVariables:
    get:
      description: Get a list of all available global variables
      tags:
        - globalVariables
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /globalVariables/{globalVariableID}:
    get:
      description: Get global variable
      parameters:
        - name: globalVariableID
          in: path
          description: ID of a existing global variable
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - globalVariables
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
    put:
      description: Modify global variable
      parameters:
        - name: globalVariableID
          in: path
          description: ID of a existing global variable
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - globalVariables
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
    delete:
      description: Delete global variable
      parameters:
        - name: globalVariableID
          in: path
          description: ID of a existing global variable
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - globalVariables
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
               []
  
  
  
  /scenes:
    get:
      description: Get a list of all available scenes
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  type: ''
                  roomID: 0
                  iconID: 0
                  enabled: bool
                  autostart: bool
                  protectedByPIN: bool
                  killable: bool
                  runningInstances: 0
                  visible: bool
                  isLua: bool
                  lua: ''
                  properties: ''
                  html: ''
                  triggers:
                    properties:
                      - null
                    globals:
                      - null
                  sortOrder: 0
    post:
      description: Create scene
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /scenes/{sceneID}:
    get:
      description: Get scene object
      parameters:
        - name: sceneID
          in: path
          description: ID of an existing scene
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                type: ''
                roomID: 0
                iconID: 0
                enabled: bool
                autostart: bool
                protectedByPIN: bool
                killable: bool
                runningInstances: 0
                visible: bool
                isLua: bool
                lua: ''
                properties: ''
                html: ''
                triggers:
                  properties:
                    - null
                  globals:
                    - null
                sortOrder: 0
    put:
      description: Modify scene
      parameters:
        - name: sceneID
          in: path
          description: ID of an existing scene
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete scene
      parameters:
        - name: sceneID
          in: path
          description: ID of an existing scene
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /scenes/{sceneID}/action/{action}:
    post:
      description: Scene action
      parameters:
        - name: sceneID
          in: path
          description: ID of an existing scene
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: action
          in: path
          description: action
          required: true
          schema:
            type: string
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /scenes/{sceneID}/debugMessages:
    get:
      description: Get debug message
      parameters:
        - name: sceneID
          in: path
          description: ID of an existing scene
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - scenes
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  
  
  /icons:
    get:
      description: Get a list of all available icons
      tags:
        - icons
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                device:
                  - id: 0
                    deviceType: ''
                    iconSetName: ''
                room:
                  - id: 0
                    iconName: ''
                scene:
                  - id: 0
                    iconName: ''
  
  
  
  /iosDevices:
    get:
      description: Get a list of all available iosDevices
      tags:
        - iosDevices
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  udid: ''
                  push: bool
  
  
  
  /weather:
    get:
      description: Get weather object
      tags:
        - weather
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                ConditionCode: ''
                Humidity: ''
                PreviousConditionCode: ''
                PreviousHumidity: ''
                PreviousTemperature: ''
                PreviousWeatherConditionConverted: ''
                PreviousWind: ''
                Temperature: ''
                WeatherCondition: ''
                WeatherConditionConverted: ''
                Wind: ''
                saveLogs: ''
                TemperatureUnit: ''
  
  
  
  /panels/favoriteColors:
    get:
      description: Get favorite colors
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    post:
      description: Create favorite colors object
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    put:
      description: Modify favorite colors object
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete favorite colors
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/sms:
    get:
      description: Get sms object
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                smsCount: 0
                phones:
                  - ''
    put:
      description: Modify sms object
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/location:
    get:
      description: Get a list of all available locations
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  latitude: 0
                  longitude: 0
                  created: 0
                  modified: 0
    post:
      description: Create location
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/location/{locationID}:
    get:
      description: Get location
      parameters:
        - name: locationID
          in: path
          description: ID of an existing location
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                latitude: 0
                longitude: 0
                created: 0
                modified: 0
    put:
      description: Modify location
      parameters:
        - name: locationID
          in: path
          description: ID of an existing location
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete location
      parameters:
        - name: locationID
          in: path
          description: ID of an existing location
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/history:
    get:
      parameters:
        - name: from
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: to
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
      description: Get history
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 6
                  deviceID: 24
                  timestamp: 1598855829
                  value: '22.9'
  
  /panels/notifications:
    get:
      description: Get a list of all available notifications
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    post:
      description: Create notification
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/notifications/{notificationID}:
    get:
      description: Get notification
      parameters:
        - name: notificationID
          in: path
          description: ID of an existing notification
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    put:
      description: Modify notification
      parameters:
        - name: notificationID
          in: path
          description: ID of an existing notification
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete notification
      parameters:
        - name: notificationID
          in: path
          description: ID of an existing notification
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/heating:
    get:
      description: Get a list of all available heating objects
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  handTemperature: 0
                  handTimestamp: 0
                  vacationTemperature: 0
    post:
      description: Create heating
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/heating/{heatingID}:
    get:
      description: Get heating object
      parameters:
        - name: heatingID
          in: path
          description: ID of an existing heating object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  monday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  tuesday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  wednesday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  thursday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  friday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  saturday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  sunday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  handTemperature: 0
                  handTimestamp: 0
                  vacationTemperature: 0
                  rooms:
                    - null
                created: 0
                modified: 0
    put:
      description: Modify heating
      parameters:
        - name: heatingID
          in: path
          description: ID of an existing heating object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete heating
      parameters:
        - name: heatingID
          in: path
          description: ID of an existing heating object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/cooling:
    get:
      description: Get a list of all available cooling objects
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  handTemperature: 0
                  handTimestamp: 0
                  vacationTemperature: 0
                
    post:
      description: Create cooling
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/cooling/{coolingID}:
    get:
      description: Get cooling object
      parameters:
        - name: coolingID
          in: path
          description: ID of an existing cooling object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  monday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  tuesday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  wednesday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  thursday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  friday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  saturday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  sunday:
                    morning:
                      hour: 0
                      minute: 0
                      temperature: 0
                    day:
                      hour: 0
                      minute: 0
                      temperature: 0
                    evening:
                      hour: 0
                      minute: 0
                      temperature: 0
                    night:
                      hour: 0
                      minute: 0
                      temperature: 0
                  handTemperature: 0
                  handTimestamp: 0
                  vacationTemperature: 0
                  rooms:
                    - null
                created: 0
                modified: 0
    put:
      description: Modify cooling
      parameters:
        - name: coolingID
          in: path
          description: ID of an existing cooling object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete cooling
      parameters:
        - name: coolingID
          in: path
          description: ID of an existing cooling object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/humidity:
    get:
      description: Get a list of all available humidity objects
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  handHumidity: 0
                  handTimestamp: 0
                  vacationHumidity: 0
    post:
      description: Create humidity
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/humidity/{humidityID}:
    get:
      description: Get humidity object
      parameters:
        - name: humidityID
          in: path
          description: ID of an existing humidity object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  monday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  tuesday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  wednesday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  thursday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  friday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  saturday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  sunday:
                    morning:
                      hour: 0
                      minute: 0
                      humidity: 0
                    day:
                      hour: 0
                      minute: 0
                      humidity: 0
                    evening:
                      hour: 0
                      minute: 0
                      humidity: 0
                    night:
                      hour: 0
                      minute: 0
                      humidity: 0
                  handHumididty: 0
                  handTimestamp: 0
                  vacationHumidity: 0
                  rooms:
                    - null
                created: 0
                modified: 0
    put:
      description: Modify humidity
      parameters:
        - name: humidityID
          in: path
          description: ID of an existing humidity object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete humidity
      parameters:
        - name: humidityID
          in: path
          description: ID of an existing humidity object
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/family:
    get:
      parameters: 
        - name: userID
          in: query
          description: ID of a existing user
          required: true
          schema:
            type: integer
            format: int32
          example: 2
        - name: from
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: to
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1600176130
      description: Get users family
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/alarm:
    get:
      description: Get all available alarms
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
                  properties:
                    armDeviceID: 0
                    armStateDeviceID: 0
                    alarmStateDeviceID: 0
    post:
      description: Create alarm
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/alarm/{alarmsID}:
    get:
      description: Get alarm
      parameters:
        - name: alarmsID
          in: path
          description: ID of an existing alarm
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 0
                name: ''
                properties:
                  armDeviceID: 0
                  armStateDeviceID: 0
                  alarmStateDeviceID: 0
    put:
      description: Modify alarms
      parameters:
        - name: alarmsID
          in: path
          description: ID of an existing alarm
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete alarms
      parameters:
        - name: alarmsID
          in: path
          description: ID of an existing alarm
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/drenchers:
    get:
      description: Get all available drenchers
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                adjustWater: 0
                rainDelay: 0
                cycles: 0
                drenchers:
                  - id: 0
                    name: ''
                    mode: ''
                    dead: bool
                    manualTime: 0
                    days:
                      - null
                    cycles:
                      - null
                    nextDrenching: 0
                    state: bool
    post:
      description: Create a drenchers
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    put:
      description: Modify drencher
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete drencher
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /panels/fibaroAlarm:
    get:
      description: Get Fibaro Alarm
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                lastAlarmTime: 0
                triggerActions:
                  - id: 0
                    name: ''
                    description: ''
                    time: 0
                    isPredefined: bool
                    isActive: bool
                    properties:
                      - null
                fastAccessActors:
                  - null
    put:
      description: Modify Fibaro Alarm
      tags:
        - panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  
  
  /RGBPrograms:
    get:
      description: Get a list of all available RGB programs
      tags:
        - RGBPrograms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  name: ''
    post:
      description: Create RGB program
      tags:
        - RGBPrograms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /RGBPrograms/{programID}:
    get:
      description: Get RGB program object
      parameters:
        - name: programID
          in: path
          description: RGB program ID
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - RGBPrograms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    put:
      description: Modify RGB program
      parameters:
        - name: programID
          in: path
          description: RGB program ID
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - RGBPrograms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete RGB program
      parameters:
        - name: programID
          in: path
          description: RGB program ID
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - RGBPrograms
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  
  
  /diagnostics:
    get:
      description: Get diagnostics
      tags:
        - diagnostics
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                memory: 0
                storage:
                  - name: sting
                    used: 0
                cpuLoad:
                  - user: sting
                    nice: sting
                    system: sting
                    idle: sting



  /trackingSchedules:
    get:
      description: Get tracking schedules
      tags:
        - trackingSchedules
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 0
                  MondayMorningHour: ''
                  MondayMorningHourTo: ''
                  MondayMorningTime: ''
                  MondayDayHour: ''
                  MondayDayHourTo: ''
                  MondayDayTime: ''
                  MondayEveningHour: ''
                  MondayEveningHourTo: ''
                  MondayEveningTime: ''
                  MondayNightHour: ''
                  MondayNightHourTo: ''
                  MondayNightTime: ''
                  TuesdayMorningHour: ''
                  TuesdayMorningHourTo: ''
                  TuesdayMorningTime: ''
                  TuesdayDayHour: ''
                  TuesdayDayHourTo: ''
                  TuesdayDayTime: ''
                  TuesdayEveningHour: ''
                  TuesdayEveningHourTo: ''
                  TuesdayEveningTime: ''
                  TuesdayNightHour: ''
                  TuesdayNightHourTo: ''
                  TuesdayNightTime: ''
                  WednesdayMorningHour: ''
                  WednesdayMorningHourTo: ''
                  WednesdayMorningTime: ''
                  WednesdayDayHour: ''
                  WednesdayDayHourTo: ''
                  WednesdayDayTime: ''
                  WednesdayEveningHour: ''
                  WednesdayEveningHourTo: ''
                  WednesdayEveningTime: ''
                  WednesdayNightHour: ''
                  WednesdayNightHourTo: ''
                  WednesdayNightTime: ''
                  ThursdayMorningHour: ''
                  ThursdayMorningHourTo: ''
                  ThursdayMorningTime: ''
                  ThursdayDayHour: ''
                  ThursdayDayHourTo: ''
                  ThursdayDayTime: ''
                  ThursdayEveningHour: ''
                  ThursdayEveningHourTo: ''
                  ThursdayEveningTime: ''
                  ThursdayNightHour: ''
                  ThursdayNightHourTo: ''
                  ThursdayNightTime: ''
                  FridayMorningHour: ''
                  FridayMorningHourTo: ''
                  FridayMorningTime: ''
                  FridayDayHour: ''
                  FridayDayHourTo: ''
                  FridayDayTime: ''
                  FridayEveningHour: ''
                  FridayEveningHourTo: ''
                  FridayEveningTime: ''
                  FridayNightHour: ''
                  FridayNightHourTo: ''
                  FridayNightTime: ''
                  SaturdayMorningHour: ''
                  SaturdayMorningHourTo: ''
                  SaturdayMorningTime: ''
                  SaturdayDayHour: ''
                  SaturdayDayTime: ''
                  SaturdayDayHourTo: ''
                  SaturdayEveningHour: ''
                  SaturdayEveningHourTo: ''
                  SaturdayEveningTime: ''
                  SaturdayNightHour: ''
                  SaturdayNightHourTo: ''
                  SaturdayNightTime: ''
                  SundayMorningHour: ''
                  SundayMorningHourTo: ''
                  SundayMorningTime: ''
                  SundayDayHour: ''
                  SundayDayHourTo: ''
                  SundayDayTime: ''
                  SundayEveningHour: ''
                  SundayEveningHourTo: ''
                  SundayEveningTime: ''
                  SundayNightHour: ''
                  SundayNightHourTo: ''
                  SundayNightTime: ''
    post:
      description: Create tracking schedule
      tags:
        - trackingSchedules
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /trackingSchedules/{trackingScheduleID}:
    get:
      description: Get tracking schedule
      parameters:
        - name: trackingScheduleID
          in: path
          description: ID of a existing tracking schedule
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - trackingSchedules
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    put:
      description: Modify tracking schedule
      parameters:
        - name: trackingScheduleID
          in: path
          description: ID of a existing tracking schedule
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - trackingSchedules
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
    delete:
      description: Delete tracking schedule
      parameters:
        - name: trackingScheduleID
          in: path
          description: ID of a existing tracking schedule
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      tags:
        - trackingSchedules
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  
  
  /api/linkedDevices:
    get:
      description: return unknown
      tags:
        - General
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /api/virtualDevices:
    get:
      description: return unknown
      tags:
        - General
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                []
  
  /api/voip:
    get:
      description: return unknown
      tags:
        - General
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                voipDevices:
                  - id: 2
                    sipDisplayName: _
                    sipUserID: '1'
                    deviceIcon: '91'
  

  
  
  /api/panels/event:
    get:
      parameters:
        - name: from
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
          example: 1
        - name: to
          description: unix timestamp
          in: query
          required: true
          schema:
            type: integer
            format: int32
      description: return unknown
      tags:
        - Panels
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - id: 1094
                  type: DEVICE_PROPERTY_CHANGED
                  timestamp: 1598855829
                  deviceID: 24
                  deviceType: com.fibaro.temperatureSensor
                  propertyName: value
                  oldValue: 22.8
                  newValue: 22.9
                  icon: null
  
  /api/plugins/types:
    get:
      description: return unknown
      tags:
        - Plugins
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                installed:
                  - name: com.fibaro.modularAlarm
                    predefined: true
                  - name: com.fibaro.yrWeather
                    predefined: true
  
  /api/plugins/installed:
    get:
      description: return unknown
      tags:
        - Plugins
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                - name: com.fibaro.modularAlarm
                  predefined: true
                - name: com.fibaro.yrWeather
                  predefined: true
  

  
  /api/zwaveSettings:
    get:
      description: return unknown
      tags:
        - Undocumented
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                globalPollingEnabled: true
                globalPollingInterval: 125000
                minDevicePollingInterval: 5000
                minGlobalPollingInterval: 125000
  
  /api/devices/{deviceid}:
    get:
      parameters:
        - name: deviceid
          in: path
          description: id of the device
          required: true
          schema:
            type: integer
            format: int32
          example: 1
      description: return unknown
      tags:
        - Undocumented
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                id: 1
                name: zwave
                roomID: 0
                type: com.fibaro.zwavePrimaryController
                baseType: ''
                enabled: true
                visible: false
                isPlugin: false
                parentId: 0
                remoteGatewayId: 0
                interfaces:
                  - zwave
                properties:
                  UIMessageSendTime: '0'
                  autoConfig: '0'
                  configured: true
                  date: a
                  dead: 'false'
                  deviceControlType: '0'
                  deviceIcon: '28'
                  disabled: '1'
                  emailNotificationID: '0'
                  emailNotificationType: '0'
                  endPoint: '0'
                  endPointId: '0'
                  homeIdHash: cebf407769af35003e6d21896cc320726501e4cb
                  log: ''
                  logTemp: ''
                  manufacturer: ''
                  markAsDead: 'true'
                  model: ''
                  nodeID: '1'
                  nodeId: '0'
                  parameters: []
                  parametersTemplate: '0'
                  pollingDeadDevice: 'true'
                  pollingTime: '1354829138'
                  pollingTimeNext: '1354837724'
                  pollingTimeSec: 125
                  productInfo: ''
                  pushNotificationID: '0'
                  pushNotificationType: '0'
                  remoteGatewayId: '0'
                  requestNodeNeighborStat: '0'
                  requestNodeNeighborStatTimeStemp: ''
                  requestNodeNeighborState: ''
                  requestNodeNeighborStateTimeStemp: ''
                  saveLogs: 'true'
                  serialNumber: ''
                  showChildren: '1'
                  smsNotificationID: '0'
                  smsNotificationType: '0'
                  status: STAT_IDLE
                  sunriseHour: '06:59'
                  sunsetHour: '19:55'
                  useTemplate: 'true'
                  userDescription: ''
                  value: '0'
                  zwaveBuildVersion: '3.67'
                  zwaveCompany: Unknown
                  zwaveInfo: ''
                  zwaveRegion: EU
                  zwaveVersion: '4.33'
                actions:
                  pollingDeadDevice: 1
                  pollingTimeSec: 1
                  reconfigure: 0
                  requestNodeNeighborUpdate: 1
                  turnOff: 0
                  turnOn: 0
                created: 1598718830
                modified: 1598718830
                sortOrder: 1
  
  /api/update:
    get:
      description: return unknown
      tags:
        - Undocumented
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                updates:
                  stable:
                    available: false
                    version: '4.600'
                  beta:
                    available: false
                    version: '4.582'
                  alpha:
                    available: false
                    version: '4.500'
                conditions:
                  storage: true
                  allConditionsMet: true
                updateStableAvailable: false
                updateBetaAvailable: false
                newestStableVersion: '4.600'
                newestBetaVersion: '4.582'
                allConditionsMet: true
  
  /api/interface/data:
    get:
      description: return unknown
      tags:
        - Undocumented
      responses:
        '200':
          description: ok
          content:
            application/json:
              example:
                info:
                  serialNumber: HCL-076130
                  mac: 'ac:17:02:03:65:2d'
                  zwaveVersion: '4.33'
                  serverStatus: 1598718825
                  defaultLanguage: de
                  sunsetHour: '19:55'
                  sunriseHour: '06:59'
                  hotelMode: false
                  smsManagement: false
                  forwardNotificationsToPushMessages: true
                home:
                  timestamp: 1599744495
                  defaultSensors:
                    temperature: 10
                    humidity: 0
                    light: 11
                  notificationClient:
                    marketingNotificationAllowed: true
                  hcName: Fib-Philip
                  weatherProvider: 3
                  currency: ''
                  fireAlarmTemperature: 60
                  freezeAlarmTemperature: 1
                  timeFormat: 24
                  dateFormat: dd.mm.yy
                  firstRunAfterUpdate: false
                  configured: true
                weather:
                  ConditionCode: '32'
                  ConditionCodeConverted: '32'
                  Humidity: '42.80'
                  Pressure: '1020.90'
                  Temperature: '20.5'
                  TemperatureUnit: C
                  WeatherCondition: clear
                  WindUnit: km/h
                  Wind: 6.84
                  categories: '["other"]'
                  dead: 'false'
                  deadReason: ''
                  deviceControlType: '0'
                  deviceIcon: '28'
                  emailNotificationID: '0'
                  emailNotificationType: '0'
                  hidden: 'false'
                  log: ''
                  logTemp: ''
                  manufacturer: ''
                  model: ''
                  pushNotificationID: '0'
                  pushNotificationType: '0'
                  remoteGatewayId: '0'
                  saveLogs: 'true'
                  smsNotificationID: '0'
                  smsNotificationType: '0'
                  ui.Current_Weather_Label.caption: |-
                    Temp.: 20.5°C
                
                    Humidity: 42.8%
                
                    Wind: 6.8km/h
                  ui.config.hidden.caption: i18n_visibleLabel
                  ui.config.hidden.enabled: 'true'
                  ui.config.section1.caption: i18n_section1
                  ui.config.section1.enabled: 'true'
                  userDescription: ''
                devices:
                  - id: 1
                    name: zwave
                    roomID: 0
                    type: com.fibaro.zwavePrimaryController
                    baseType: ''
                    enabled: true
                    visible: false
                    isPlugin: false
                    parentId: 0
                    remoteGatewayId: 0
                    viewXml: false
                    configXml: false
                    interfaces:
                      - zwave
                    properties:
                      UIMessageSendTime: '0'
                      autoConfig: '0'
                      configured: true
                      date: a
                      dead: 'false'
                      deviceControlType: '0'
                      deviceIcon: '28'
                      disabled: '1'
                      emailNotificationID: '0'
                      emailNotificationType: '0'
                      endPoint: '0'
                      endPointId: '0'
                      homeIdHash: cebf407769af35003e6d21896cc320726501e4cb
                      log: ''
                      logTemp: ''
                      manufacturer: ''
                      markAsDead: 'true'
                      model: ''
                      nodeID: '1'
                      nodeId: '0'
                      parameters: []
                      parametersTemplate: '0'
                      pollingDeadDevice: 'true'
                      pollingTime: '1354829138'
                      pollingTimeNext: '1354837724'
                      pollingTimeSec: 125
                      productInfo: ''
                      pushNotificationID: '0'
                      pushNotificationType: '0'
                      remoteGatewayId: '0'
                      requestNodeNeighborStat: '0'
                      requestNodeNeighborStatTimeStemp: ''
                      requestNodeNeighborState: ''
                      requestNodeNeighborStateTimeStemp: ''
                      saveLogs: 'true'
                      serialNumber: ''
                      showChildren: '1'
                      smsNotificationID: '0'
                      smsNotificationType: '0'
                      status: STAT_IDLE
                      sunriseHour: '06:59'
                      sunsetHour: '19:55'
                      useTemplate: 'true'
                      userDescription: ''
                      value: '0'
                      zwaveBuildVersion: '3.67'
                      zwaveCompany: Unknown
                      zwaveInfo: ''
                      zwaveRegion: EU
                      zwaveVersion: '4.33'
                    actions:
                      pollingDeadDevice: 1
                      pollingTimeSec: 1
                      reconfigure: 0
                      requestNodeNeighborUpdate: 1
                      turnOff: 0
                      turnOn: 0
                    created: 1598718830
                    modified: 1598718830
                    sortOrder: 1
                  - id: 2
                    name: philip.schell@fit.fraunhofer.de
                    roomID: 0
                    type: HC_user
                    baseType: com.fibaro.voipUser
                    enabled: true
                    visible: true
                    isPlugin: false
                    parentId: 0
                    remoteGatewayId: 0
                    viewXml: false
                    configXml: false
                    interfaces:
                      - voip
                    properties:
                      Email: philip.schell@fit.fraunhofer.de
                      HotelModeRoom: '0'
                      LastPwdChange: '1598369555'
                      Latitude: '52.43'
                      Location: 52.4320294933;16.8449900900
                      LocationTime: '2012-12-06 12:15'
                      LocationTimestamp: '1354792521'
                      Longitude: '16.84'
                      PreviousLatitude: '52.43'
                      PreviousLocation: 52.4320252015;16.8449947542
                      PreviousLocationTime: '2012-12-06 12:14'
                      PreviousLocationTimestamp: '1354792461'
                      PreviousLongitude: '16.84'
                      SendNotifications: 'true'
                      TrackUser: '0'
                      UserType: superuser
                      atHome: 'false'
                      deviceIcon: '91'
                      fidUuid: ''
                      firmwareUpdateLevel: '0'
                      initialWizard: 'false'
                      saveLogs: '1'
                      sipDisplayName: _
                      sipUserID: '1'
                      sipUserPassword: ''
                      useOptionalArmPin: 'false'
                      usePin: 'false'
                    actions:
                      sendEmail: 2
                      sendPush: 1
                      setSipDisplayName: 1
                      setSipUserID: 1
                      setSipUserPassword: 1
                    created: 1598718833
                    modified: 1598718833
                    sortOrder: 2
                  - id: 3
                    name: YR Weather
                    roomID: 222
                    type: com.fibaro.yrWeather
                    baseType: com.fibaro.weather
                    enabled: true
                    visible: true
                    isPlugin: true
                    parentId: 0
                    remoteGatewayId: 0
                    viewXml: true
                    configXml: true
                    interfaces: []
                    view: []
                    properties:
                      ConditionCode: '32'
                      ConditionCodeConverted: '32'
                      Humidity: '42.80'
                      Pressure: '1020.90'
                      Temperature: '20.50'
                      WeatherCondition: clear
                      Wind: '6.84'
                      categories: '["other"]'
                      dead: 'false'
                      deadReason: ''
                      deviceControlType: '0'
                      deviceIcon: '28'
                      emailNotificationID: '0'
                      emailNotificationType: '0'
                      hidden: 'false'
                      log: ''
                      logTemp: ''
                      manufacturer: ''
                      model: ''
                      pushNotificationID: '0'
                      pushNotificationType: '0'
                      remoteGatewayId: '0'
                      saveLogs: 'true'
                      smsNotificationID: '0'
                      smsNotificationType: '0'
                      ui.Current_Weather_Label.caption: |-
                        Temp.: 20.5°C
                
                        Humidity: 42.8%
                
                        Wind: 6.8km/h
                      ui.config.hidden.caption: This device is hidden in the system.
                      ui.config.hidden.enabled: true
                      ui.config.section1.caption: Configuration
                      ui.config.section1.enabled: true
                      userDescription: ''
                    actions: {}
                    created: 1598718833
                    modified: 1598718833
                    sortOrder: 3
                  - id: 4
                    name: Wall Plug
                    roomID: 220
                    type: com.fibaro.zwaveDevice
                    baseType: com.fibaro.device
                    enabled: true
                    visible: false
                    isPlugin: false
[...]
